.header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  box-shadow: 0 4px 12px 0 #0000000d;
  &__item {
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .items-count {
    position: absolute;
    top: 2px;
    right: 11px;
    color: #fff;
    background-color: #464749;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 13px;
  }
}
