.primaryButton {
  width: 80%;
  height: 30px;
  padding: 5 20;
  outline: none;
  margin-top: 10px;
  &:hover {
    background-color: rgb(223, 221, 221);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
