.footer {
  height: 30px;
  padding-top: 15px;
  text-align: center;
  position: fixed;
  background-color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -4px 12px 0 #0000000d;
}
